{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/js/all.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">

  <link rel="stylesheet" href="/assets/css/header.css">
  <link rel="stylesheet" href="/assets/css/catalog.css">
  <link rel="stylesheet" href="/assets/css/searchbar.css">

  <title>Corpoasia - Shop</title>
</head>
<body>
  <header>
    <a >
        <div class="logo">
            <h1>
                <i>CORPOASIA</i>
              </h1>
        </div>
    </a>
   



    <div class="site-placer">
        <h1><i class='fa-solid fa-shop'></i>Shop</h1>
      </div>

   </header>






   <div class="catalog">
    <!-- Header -->
    

    <!-- Main content -->
    <main class="main-content">
      <!-- Title card -->
      <div class="searchbar-container">
        <div class="InputContainer">
          <input type="text" name="text" class="input" id="input" placeholder="Search any product">
          
          <button class="micButton labelforsearch" for="input">
            <i class="fa-solid fa-magnifying-glass"></i>  </button>
        <div class="border"></div>
        
        <button class="micButton"><i class="fa-solid fa-bars"></i>
        </button>
        
        </div>
      
       </div> 
       <br>
      <!-- catalog grid -->
      <div class="catalog-grid">
        <!-- catalog 1 -->
        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img1.png" alt="San Valentín Garnacha 2016" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Cutter</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  
        <!-- catalog 2 -->
        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img2.png" alt="San Valentín Parellada 2018" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">86</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Spanners</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  
        <!-- catalog 3 -->
        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img3.png" alt="White catalog bottle" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Brushes</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  
        <!-- catalog 4 -->
        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img4.png" alt="Rosé catalog bottle" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">87</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Paint rollers</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>

        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img1.png" alt="San Valentín Garnacha 2016" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Cutter</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  

        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img1.png" alt="San Valentín Garnacha 2016" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Cutter</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  

        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img1.png" alt="San Valentín Garnacha 2016" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Cutter</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  

        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img1.png" alt="San Valentín Garnacha 2016" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Cutter</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  

        <div class="catalog-card">
          <div class="catalog-image-container">
            <img src="../../../assets/img/img1.png" alt="San Valentín Garnacha 2016" class="catalog-image">
            <div class="rating-badge">
              <span class="rating-number">94</span>
              <span class="rating-plus">+3</span>
            </div>
          </div>
          <div class="catalog-details">
            <h3 class="catalog-name">Cutter</h3>
            <p class="catalog-type">+4 Suppliers</p>
            <p class="catalog-price">Starting at 2.99 $</p>
          </div>
        </div>
  


      </div>
    </main>
  
  </div>

  <div class="container-pagination">
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#" class="active">1</a>
      <a href="#" >2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
  </div>




</body>
</html>