{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MICASA</title>
    <link rel="stylesheet" href="{% static '/css/header.css' %}">  <!-- estilos del header -->
    <link rel="stylesheet" href="{% static '/css/home.css' %}">  <!-- estilos del header -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
<!-- Hola richel -->
    <script src="{% static '/js/auth.js' %}"></script>
</head>
<body>
    <!-- Header -->
    <header class="main-header">       
         <a href="#">
            <div class="logo">
                <h1>MICASA</h1>
            </div>
        </a>
        <div class="site-placer">
        </div>
    </header>

    <!-- Contenido Principal -->
    <main class="main-container">
        <div class="content-wrapper">
            <!-- Sección Welcome -->
            <section class="welcome-section">
                <div class="settings-container">
                    <p class="welcome-text">Welcome!</p>
                    <!--
                    <button class="settings-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon">
                            <g stroke-width="1.5" stroke-linecap="round" stroke="#5d41de">
                                <circle r="2.5" cy="10" cx="10"></circle>
                                <path fill-rule="evenodd" d="m8.39079 2.80235c.53842-1.51424 2.67991-1.51424 3.21831-.00001.3392.95358 1.4284 1.40477 2.3425.97027 1.4514-.68995 2.9657.82427 2.2758 2.27575-.4345.91407.0166 2.00334.9702 2.34248 1.5143.53842 1.5143 2.67996 0 3.21836-.9536.3391-1.4047 1.4284-.9702 2.3425.6899 1.4514-.8244 2.9656-2.2758 2.2757-.9141-.4345-2.0033.0167-2.3425.9703-.5384 1.5142-2.67989 1.5142-3.21831 0-.33914-.9536-1.4284-1.4048-2.34247-.9703-1.45148.6899-2.96571-.8243-2.27575-2.2757.43449-.9141-.01669-2.0034-.97028-2.3425-1.51422-.5384-1.51422-2.67994.00001-3.21836.95358-.33914 1.40476-1.42841.97027-2.34248-.68996-1.45148.82427-2.9657 2.27575-2.27575.91407.4345 2.00333-.01669 2.34247-.97026z" clip-rule="evenodd"></path>
                            </g>
                        </svg>
                    </button>
                    -->
                </div>
                <div class="welcome-header">
                    <i class='bx bx-user user-icon'></i>
                    <h1 class="welcome-h1" id="welcome-text">Guest...</h1>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const phone = localStorage.getItem('phone');
                        const fullName = localStorage.getItem('fullName');
                        const welcomeText = document.getElementById('welcome-text');

                        if (fullName) {
                            welcomeText.textContent = fullName;
                        } else if (phone) {
                            welcomeText.textContent = `User ${phone}`;
                        }
                    });
                </script>
            </section>

            <!-- Sección Scan -->
            <section class="scan-section">
                <a href="/scanner">
                <img src="{% static '/images/code1.png' %}" alt="QR Code" class="scan-img">
            </a>
            <div class="scan-btn-container">
                <button class="scan-btn">
                    <a href="/scanner">
                        <span>SCAN QR CODE</span>
                    </a>
                </button>
            </div>
                
            </section>
            
            <!-- Sección Cards -->
            <section class="cards-container">
                <div class="card card"><a href="/carrito">
                    <p>MY <br>CART</p>
                </a>
                </div>
                <div class="card card">
                    <a href="/profile">
                    <p>MY <br> ORDER</p>
                </a>
                </div>
                <div class="card card">
                    <a href="/profile">
                    <p>MY <br> ACCOUNT</p>
                </a>
                </div>
            </section>
            
            <!-- Sección Carrusel -->
            <section class="discover-section">
                <h2 class="discover-title">Discover more products!</h2>
                <div class="product-slider">
                    <figure class="slider-figure">
                        <div class="slider-container">
                            {% for product in products %}
                                <a href="{{ product.get_absolute_url }}">
                                    <div class="slider-img-container">
                                    {% with product.get_display_image as display_image %}
                                        {% if display_image %}
                                        <img src="{{ display_image.image.url }}" alt="{{ product.name }}" class="catalog-image">
                                        {% else %}
                                        <img src="{% static 'images/default-product.png' %}" alt="No image available" class="catalog-image">
                                        {% endif %}
                                    {% endwith %}
                                    <div class="price-overlay">Starting at ${{ product.min_price|floatformat:2 }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                
                    </figure>
                </div>
            </section>

            <!-- Sección Explore -->
            <section class="explore-section">
                <button class="slide-btn">
                    <a href="/shop">
                    <span class="actual-text">&nbsp;View catalog <i class='bx bx-cart'></i></span>
                </a>
                <a href="/shop">
                    <span class="hover-text">&nbsp;View catalog <i class='bx bxs-cart'></i></span>
                </a>
                </button> 
            </section>
        </div>
    </main>

    <div class="nav-shadow-wrapper">

        <div class="Navigation">
    
            <label title="Cart" for="cart" class="label">
                <a href="/carrito">
                    <input id="cart" name="page" type="radio"/>
                    <i class="fi fi-rr-shopping-cart"></i>
                </a>
            </label>
    
            <label title="Shop" for="store" class="label">
                <a href="/shop/">
                    <input id="store" name="page" type="radio"/>
                    <i class="fi fi-rr-catalog-magazine"></i>
                </a>
            </label>
    
            <label title="Home" for="home" class="label" >
                <a href="/home/">
                    <input id="home" name="page" type="radio"/>
                    <i class="fi fi-rr-house-chimney"></i>
                </a>
            </label>
    
            <label title="Scanner" for="favorite" class="label">
                <a href="/scanner">
                    <input id="favorite" name="page" type="radio"/>
                    <i class="fi fi-rr-camera-viewfinder"></i>
                </a>
            </label>
    
            <label title="Profile" for="notifications" class="label">
                <a href="/profile/">
                    <input id="notifications" name="page" type="radio"/>
                    <i class="fi fi-rr-user"></i>
                </a>
            </label>
            
        </div>
        
    </div>
    
    <script src="../static/js/brillo.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>