{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI CASA</title>
    <link rel="stylesheet" href="{% static '/css/index-home.css' %}"> 


</head>
<body>
    

    <div class="welcome-title">
        <br>
        <h1 class="welcome-title-message" ><b>MICASA</b></h1>
<br>
<div class="dot-spinner">
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
</div>
<br>
    </div>




</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
    setTimeout(function() {

            // Check if user has required authentication data
            const phone = localStorage.getItem("phone")
            const country = localStorage.getItem("country")
          
            if (!phone || !country) {
              // Redirect to login page if authentication data is missing
              window.location.href = "/login"
            }
            else {
              // Redirect to home page if authentication data is present
              window.location.href = "/home"
            }
          })
           // Redirect to the home page after 3 seconds
    }, 2000); // 3000 milliseconds = 3 seconds
</script>
</html>