/* Estilos Globales 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*/

@font-face {
	font-family: "HandelGothic";
	font-style: normal;
	font-weight: normal;
	src: local("HandelGothic"),
		url("../webfonts/HandelGothic\ TL\ Kirillica.woff") format("woff");
}

:root {
	--primary: #ffd720;
	--black: #000000;
	--white: #ffffff;
	--hover: #ffe766;
	font-family: "HandelGothic";
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-size: 16px;
	line-height: 1.8;
	font-weight: 600;
	color: var(--black);
	background-color: var(--white);
	overflow-x: hidden;
}

h1 {
	font-family: var(--font-family);
	text-decoration: none;
	font-size: 30px;
	color: var(--white);
}

a {
	text-decoration: none;
}

h2 {
	font-family: var(--font-family);
	color: var(--black);
	text-decoration: none;
	font-size: 22px;
}

/* Header */
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--primary);
	width: 100%;
	color: var(--black);
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	height: auto;
	min-height: 5%;
	border-bottom: 2px solid var(--black);
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 20px;
	color: var(--white);
	background-color: black;
	padding: 0 10px;
	letter-spacing: 1px;

	--corner-size: 16px;
	--cut-size: 11px;

	-webkit-mask: radial-gradient(
				circle at 0 0,
				transparent var(--cut-size),
				red 0
			)
			top left,
		radial-gradient(circle at 100% 0, transparent var(--cut-size), red 0)
			top right,
		radial-gradient(circle at 0 100%, transparent var(--cut-size), red 0)
			bottom left,
		radial-gradient(circle at 100% 100%, transparent var(--cut-size), red 0)
			bottom right;

	-webkit-mask-size: 51% 51%;
	-webkit-mask-repeat: no-repeat;
	mask: radial-gradient(circle at 0 0, transparent var(--cut-size), red 0) top
			left,
		radial-gradient(circle at 100% 0, transparent var(--cut-size), red 0)
			top right,
		radial-gradient(circle at 0 100%, transparent var(--cut-size), red 0)
			bottom left,
		radial-gradient(circle at 100% 100%, transparent var(--cut-size), red 0)
			bottom right;

	mask-size: 51% 51%;
	mask-repeat: no-repeat;
}

.site-placer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.site-placer h2 {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--black);
}

.site-placer i {
	font-size: 20px;
	color: var(--black);
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
	.main-header {
		padding: 10px 15px;
	}

	.logo {
		margin-left: 0;
	}

	.logo h1 {
		font-size: 24px;
	}

	.site-placer h2 {
		font-size: 18px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
	.main-header {
		padding: 12px 20px;
	}

	.logo {
		margin-left: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.main-header {
		padding: 15px 30px !important;
	}

	.logo {
		margin-left: 110px;
	}

	.site-placer {
		margin-right: 50px;
	}
}
