/* Estilos Globales 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*/

@font-face {
	font-family: "HandelGothic";
	font-style: normal;
	font-weight: normal;
	src: local("HandelGothic"),
		url("../webfonts/HandelGothic\ TL\ Kirillica.woff") format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "HandelGothic";
}

:root {
	--primary: #ffd720;
	--black: #000000;
	--black-light: #393939;
	--white: #ffffff;
	--hover: #ffe766;
	--gray-light: #dedcdc;
	font-family: "HandelGothic";
}

.nav-shadow-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 3px;
	width: 95%;
	margin: auto;
	filter: drop-shadow(0 0 5px var(--primary)); /* Sombra aquí */
	z-index: 10;
}

.Navigation {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--black);
	position: relative;

	--corner-size: 20px;
	--cut-size: 15px;
	-webkit-mask: radial-gradient(
				circle at 0 0,
				transparent var(--cut-size),
				red 0
			)
			top left,
		radial-gradient(circle at 100% 0, transparent var(--cut-size), red 0)
			top right,
		radial-gradient(circle at 0 100%, transparent var(--cut-size), red 0)
			bottom left,
		radial-gradient(circle at 100% 100%, transparent var(--cut-size), red 0)
			bottom right;
	-webkit-mask-size: 51% 51%;
	-webkit-mask-repeat: no-repeat;
	mask: radial-gradient(circle at 0 0, transparent var(--cut-size), red 0) top
			left,
		radial-gradient(circle at 100% 0, transparent var(--cut-size), red 0)
			top right,
		radial-gradient(circle at 0 100%, transparent var(--cut-size), red 0)
			bottom left,
		radial-gradient(circle at 100% 100%, transparent var(--cut-size), red 0)
			bottom right;
	mask-size: 51% 51%;
	mask-repeat: no-repeat;
}

.label {
	padding: 8px 18px;
	transition: all 200ms;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.label input[type="radio"] {
	display: none;
}

.label i {
	font-size: 20px;
	transition: 300ms;
	/* color: var(--black); */
	color: var(--white);
}

.label:hover:not(:has(input:checked)) i {
	color: var(--primary);
	opacity: 1;
	transform: translateY(-5px);
	text-shadow: 0 0 4px var(--primary);
}

.label:has(input:checked) i {
	/* color: var(--black);
	text-shadow: 0 0 6px var(--black); */
	transform: scale(1.15);
	color: var(--primary);
	text-shadow: 0 0 4px var(--primary);
}

/* Estilos Responsivos */
@media screen and (min-width: 1024px) {
	.nav-shadow-wrapper {
		z-index: 10;
		position: fixed;
		display: flex;
		left: 0;
		bottom: 0;
		width: 5%;
		height: 100%;
		margin: 0;
		filter: drop-shadow(0 0 7px var(--primary)); /* Sombra lateral */
	}

	.Navigation {
		width: 100%;
		height: 100%;
		flex-direction: column;
		border-radius: 0 20px 20px 0;
		-webkit-mask: none;
		mask: none;
	}
}
