/* Estilos Globales 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*/

@font-face {
	font-family: "HandelGothic";
	font-style: normal;
	font-weight: normal;
	src: local("HandelGothic"),
		url("../webfonts/HandelGothic\ TL\ Kirillica.woff") format("woff");
}

:root {
	--primary: #ffd720;
	--black: #000000;
	--black-light: #393939;
	--white: #ffffff;
	--hover: #ffe766;
	--gray-light: #dedcdc;
	font-family: "HandelGothic";
}

body {
	background-color: #ffffff;
	font-family: "HandelGothic";
	width: 100%;
	height: 100%;
}

.Container-scanner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	z-index: -1;
}

.Welcome {
	border-radius: 15px;
	font-weight: 600;
	margin-bottom: 10px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.Settings-Container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}

.Text {
	font-size: 1.2em;
	font-weight: 500;
	text-align: left;
}

.Settings {
	display: flex;
	padding: 4px 10px;
	height: 40px;
	width: 40px;
	border: none;
	background: #5e41de33;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-left: auto;
}

.Settings:hover {
	background: #5e41de4d;
}

.Settings:hover .svg-icon {
	animation: spin 2s linear infinite;
}

.Welcome-Header {
	display: flex;
	align-items: left;
	gap: 10px;
	height: 100%;
	width: 100%;
	margin-bottom: 5px;
	margin-left: 15px;
}

.Icon-User {
	font-size: 25px;
	color: var(--primary);
	margin: 0;
	border-radius: 50%;
	background-color: var(--black);
	padding: 5px;
}

.h1 {
	color: #000000;
	font-size: 1.2em;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

/* .Scan{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: #31bbc2;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
    border: 4px solid #081E5B;
    box-sizing: border-box;
} 

.Scan {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: rgba(49, 187, 194, 0.8);
    padding: 20px;
    border-radius: 5px;
    height: 500px;
    border: none;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(5px);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 25px 45px rgba(0, 0, 0, 0.2),
        0 0 10px rgba(8, 30, 91, 0.4);
}

.Scan::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.3),
        transparent
    );
    transform: rotate(45deg);
    animation: shine 3s infinite;
}

@keyframes shine {
    0% { left: -50%; }
    100% { left: 150%; }
}

/*
.BTN-Scan {
    position: relative;
    height: 50px;
    padding: 0 30px;
    border: 2px solid #000;
    background: #e8e8e8;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    align-items: center;
    width: 100%;
}

.BTN-Scan:before, .BTN-Scan:after {
    content: "";
    position: absolute;
    background: #e8e8e8;
    transition: all .2s linear;
}

.BTN-Scan:before {
    width: calc(100% + 6px);
    height: calc(100% - 16px);
    top: 8px;
    left: -3px;
}

.BTN-Scan:after {
    width: calc(100% - 16px);
    height: calc(100% + 6px);
    top: -3px;
    left: 8px;
}

.BTN-Scan:hover {
    cursor: crosshair;
}

.BTN-Scan:active {
    transform: scale(0.95);
}

.BTN-Scan:hover:before {
    height: calc(100% - 32px);
    top: 16px;
}

.BTN-Scan:hover:after {
    width: calc(100% - 32px);
    left: 16px;
}

.BTN-Scan span {
    font-size: 15px;
    z-index: 3;
    position: relative;
    font-weight: 600;
}


.Cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.Cards .Red {
    background-color: #f43f5e;
}

.Cards .Blue {
    background-color: #87b4fc;
}

.Cards .Green {
    background-color: #22c55e;
}

.Cards .Card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    width: 90%;
    position: relative;
}

.Cards .Card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.Cards .Card p.Tip {
    font-size: 1em;
    font-weight: 700;
}

.Cards .Card p.Second-Text {
    font-size: .7em;
}

.Cards .Card:hover {
    transform: scale(1.1, 1.1);
}

.Cards:hover > .Card:not(:hover) {
    filter: blur(8px);
    transform: scale(0.9, 0.9);
}

.Info{
    background-color: #ffffff;
    border-radius: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 8px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-between; 
}

.Text2 {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}	


.Photo {
    width: 200px;
    height: 100px;
    margin: 10px 0 20px 0px;
}

.Explore{
    background-color: #ffffff;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 8px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 115px,
}

.CatalogText {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    flex-grow: 1
}

.BTN-Explore {
    width: auto;
    padding: 0 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #47A2B1;
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;
}

.bell path {
    fill: rgb(19, 19, 19);
}

.BTN-Explore:hover {
    transition-duration: .5s;
}

.BTNS-Explore:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.BTN-Explore:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
}
*/

#videoElement {
	width: 100% !important;
	height: 100%;
	object-fit: cover;
	background-color: transparent;
	border: none;
}

.Scan {
	width: 100%;
	height: 100vh;
	z-index: -100;
}

.box-scan {
	/* background: #056bba;
	background: radial-gradient(
		circle,
		rgba(0, 212, 255, 1) 0%,
		rgba(5, 107, 186, 1) 100%
	);
	border: 3px solid #081e5b;
	border-radius: 12px;
	justify-content: center;
	padding: 10px;
	display: flex;
    position: absolute;
    align-items: center;
	overflow: hidden;*/
	width: 100%;
	height: 100% !important;
	padding: 0;
	margin: 0;
	outline: none;
	background-color: transparent;
	text-align: center;
	flex-direction: column;
	position: relative;
}

/* Estado activo cuando el escáner está activo */
.box-scan.active {
	height: 300px; /* La altura final para mostrar el escáner */
	border: 2px dashed black; /* Si decides mantenerlo */
}

.scanner-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	height: 70%;
	max-width: 300px;
	max-height: 300px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	z-index: 10;
	box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.scanner-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-left: 4px solid var(--primary);
	border-top: 4px solid var(--primary);
}

.scanner-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-right: 4px solid var(--primary);
	border-top: 4px solid var(--primary);
}

.scanner-overlay .corner-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	border-left: 4px solid var(--primary);
	border-bottom: 4px solid var(--primary);
}

.scanner-overlay .corner-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-right: 4px solid var(--primary);
	border-bottom: 4px solid var(--primary);
}

.box-scan img {
	/* width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.7;
	filter: blur(3px);
	transition: 1s; */
	display: none;
}

.BTN-Scan {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#5adaff 0,
		#5468ff 100%
	);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
		rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	height: 48px;
	width: 200px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
}

.BTN-Scan:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.BTN-Scan:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}

.BTN-Scan:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}

.BTN-normal {
	align-items: center;
	appearance: none;
	background-image: radial-gradient(
		100% 100% at 100% 0,
		#5adaff 0,
		#5468ff 100%
	);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
		rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	height: 48px;
	width: 200px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 18px;
	margin-top: 10px;
}

.BTN-normal:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.BTN-normal:hover {
	box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
		rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}

.BTN-normal:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}

.message {
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	color: white;
	width: 900px;
	z-index: 2;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	font-size: 1.2em;
	font-weight: 700;
}

.resulter {
	width: 100%;
	margin-top: 10px;
	height: 40px;
}

.message h1 {
	font-weight: bold;
	font-size: 2em;
	color: white;
	text-align: center;
	justify-content: center;
}

.invisible {
	display: none;
}

video {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

/* 
@media (max-width: 768px) and (orientation: portrait) {
	.box-scan {
		aspect-ratio: 9/16;
	}
}

@media (max-width: 700px) {
	.Scan {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 350px;
		background-color: #31bbc2;
		padding: 12px;
		border-radius: 10px;
		height: 350px;
	}
	.message h1 {
		font-size: 1.3em;
		color: white;
		text-align: center;
		justify-content: center;
	}
} */
