@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Colores 
1er color:  #081E5B;
2do color:  #47A2B1;
*/

body{
    /* background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../Img/Fondo-Reg-Login.jpg"); */
    background-image: url("../images/Fondo-Reg-Login.jpg");
    background-position: center;
    backdrop-filter: blur(8px);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}

.Container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.Form-Box{
    width: 430px;
    backdrop-filter: blur(10px);
    border: 3px solid #86e8cb;
    border-radius: 30px;
    padding: 5em 2.5em 2.3em 2.5em;
    color: #081E5B;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.Form-Header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #081E5B;
    width: 150px;
    height: 60px;
    border-radius: 0 0 20px 20px;
}

.Form-Header span{
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}

.Form-Header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #081E5B;
}

.Form-Header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #081E5B;
}

.Input-Box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 18px 0;
}

.Input-Enter{
    margin-top: 30px;
}

.Input-Field{
    width: 100%;
    height: 50px;
    font-size: 15px;
    background: transparent;
    color: #081E5B;
    padding-inline: 20px 50px;
    border: 3px solid #081E5B;
    border-radius: 30px;
    outline: none;
}

.label{
    position: absolute;
    top: 13px;
    left: 20px;
    transition: .2s;
}

.Input-Field:focus ~ .label,
.filled ~ .label,
.active {
    top: -12px;
    left: 15px;
    font-size: 14px;
    background-color: #081E5B;
    border-radius: 30px;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 0 10px;
}

.Input-Box:hover .label:not(.active) {
    top: -12px;
    font-size: 14px;
    background-color: #081E5B;
    color: #ffffff;
    padding: 0 10px;
    border-radius: 30px;
    border: 2px solid #ffffff;
}

.Input-Box select {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #081E5B;
    padding: 10px 20px;
    border: 3px solid #081E5B;
    border-radius: 30px;
    appearance: none;
    outline: none;
    position: relative;
}

.Icon{
    position: absolute;
    top: 16px;
    right: 25px;
    font-size: 20px;
}

.Btn{
    width: 50%;
    height: 40px;
    background: #081E5B;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.Btn:hover{
    background: #0A2A7A;
    box-shadow: 0 0 10px #ffffff;
}

.Comment{
    margin-top: 25px;
    text-align: center;
}

.Comment a{
    font-weight: 600;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

¡dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #081E5B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

dialog button:hover{
    background-color: #0A2A7A;
}

/* Oculta los Enteres de incremento/decremento en los campos numéricos */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none; 
}

@media only screen and (max-width: 560px) {
    
    .Container{
        flex-direction: column;
        align-items: center;
        max-width: 80%;
    }

    .Btn{
        width: 60%;
    }

}